<h1>Faça Login</h1>

<form [formGroup]="loginForm" class="example-form" (ngSubmit)="login()">
  <mat-form-field class="example-full-width">
    <mat-label>Login</mat-label>
    <input matInput placeholder="Login" formControlName="login">
   
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Senha</mat-label>
    <input matInput placeholder="Senha" formControlName="senha">
   
  </mat-form-field>

  <div class="botoes">
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    <button mat-raised-button color="primary" type="button" (click)="loginForm.reset()">Limpar</button>
  </div>
</form>